.experience-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 4% 10%;
}

.experience-container > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.experience-container >div:hover{
    background: transparent;
    border-color: var(--color-bg-variant);
    cursor: default;
}
.experience-container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience-details{
    display: flex;
    gap: 1rem;
}
.experience-details>img{
    width:30px ;
    object-fit: contain;
}
.experience-details:nth-child(2){
    display: flex;
}
.experience-details-icon{
    margin-top: 6px;
    color: var(--color-primary);

}
/* .other-section{
    border: 2px solid red;
} */
.other-section-child{
    display: flex;
    gap: 1rem;
}
.other-section-child >div{
    border: 2px solid red;
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.other-section:nth-child(3) img{
    width: 50px;

}
/* -------------------------MEDIA QUERIES (MEDIUM DIVICES)-------------------------  */
@media screen and (max-width:1024px){
   .experience-container{
    grid-template-columns: 1fr;
   }
   .experience-container>div{
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
   }
   .experience-content{
    padding: 1rem;
   }

}
/* -------------------------MEDIA QUERIES (SMALL DIVICES)------------------------- */
@media screen and (max-width:1024px){
    .experience-container{
        gap: 1rem;
    }
    .experience-container>div{
        width: 100%;
        padding: 2rem 1rem;
    }
}




